name = "MagNav"
uuid = "f91b31a4-be4d-40e3-b767-4b8c09c10076"
version = "0.3.0"

[deps]
ArchGDAL = "c9ce4bd3-c3d5-55b8-8973-c0e20141b8c3"
BSON = "fbb218c0-5317-5bc6-957e-2ee96dd4b1f0"
BenchmarkTools = "6e4b80f9-dd63-53aa-95a3-0cdb28fa8baf"
CSV = "336ed68f-0bac-5ca0-87d4-7b16caf5d00b"
DSP = "717857b8-e6f2-59f4-9121-6e50c889abd2"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
DelimitedFiles = "8bb1440f-4735-579b-a4ab-409b98df4dab"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
ExponentialUtilities = "d4d017d3-3776-5f7e-afef-a10c40355c18"
Flux = "587475ba-b771-5e3f-ad9e-33799f191a9c"
FluxOptTools = "ca11d760-9bce-11e9-0b7e-4f72fcadb4f9"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
GLMNet = "8d5ece8b-de18-5317-b113-243142960cc6"
GR = "28b8d3ca-fb5f-59d9-8090-bfdbd6d07a71"
Geodesy = "0ef565a4-170c-5f04-8de2-149903a85f3d"
GlobalSensitivity = "af5da776-676b-467e-8baf-acd8249e4f0f"
HDF5 = "f67ccb44-e63f-5c2f-98bd-6dc0ccc4ba2f"
Inflate = "d25df0c9-e2be-5dd7-82c8-3ad0b3e990b9"
Interpolations = "a98d9a8b-a2ab-59e6-89dd-64a1c18fca59"
IterTools = "c8e1da08-722c-5040-9ed9-7db0dc04731e"
KernelFunctions = "ec8451be-7e33-11e9-00cf-bbf324bd1392"
LazyArtifacts = "4af54fe1-eca0-43a8-85a7-787d91b784e3"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MAT = "23992714-dd62-5051-b70f-ba57cb901cac"
MLJLinearModels = "6ee0df7b-362f-4a72-a706-9e79364fb692"
NearestNeighbors = "b8a86587-4115-5ab1-83bc-aa920d37bbce"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
Parameters = "d96e819e-fc66-5662-9728-84c9c7592b0a"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
Revise = "295af30f-e4ad-537b-8983-00126c2a3abe"
SatelliteToolbox = "6ac157d9-b43d-51bb-8fab-48bf53814f4a"
ShapML = "8523bd24-6f66-414b-9e1e-b02db3916d64"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
ZipFile = "a5390f91-8eb1-5f08-bee0-b1d1ffed6cea"
Zygote = "e88e6eb3-aa80-5325-afca-941959d7151f"

[compat]
ArchGDAL = "0.8, 0.9"
BSON = "0.3"
BenchmarkTools = "1.2"
CSV = "0.10"
DSP = "0.7"
DataFrames = "1"
Distributions = "0.25"
ExponentialUtilities = "1.10"
Flux = "0.12, 0.13"
FluxOptTools = "0.1"
ForwardDiff = "0.10"
GLMNet = "0.7"
GR = "0.63, 0.64, 0.65, 0.66, 0.67"
Geodesy = "1"
GlobalSensitivity = "1.3, 2"
HDF5 = "0.15, 0.16"
Inflate = "0.1"
Interpolations = "0.13, 0.14"
IterTools = "1.4"
KernelFunctions = "0.10"
MAT = "0.10"
MLJLinearModels = "0.6, 0.7"
NearestNeighbors = "0.4.5"
Optim = "1.5"
Parameters = "0.12"
Plots = "1.25"
RecipesBase = "1.2"
Revise = "3.2"
SafeTestsets = "0.0.1"
SatelliteToolbox = "0.7, 0.8, 0.9"
ShapML = "0.3.1"
SpecialFunctions = "1.8, 2"
StatsBase = "0.33"
ZipFile = "0.9, 0.10"
Zygote = "0.6"
julia = "1.6"

[extras]
CPUSummary = "2a0fbf3d-bb9c-48f3-b0a9-814d99fd7ab9"
SafeTestsets = "1bc83da4-3b8d-516f-aca4-4fe02f6d838f"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "SafeTestsets"]
